.contact{
    display: flex;
    flex-direction: column;
    border: 2px;
    border-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0px 0px 20px 20px;
}
.heading-contact-us img{
    width: px;
}

.contact-page {
    min-height: 100vh;
    background-color: #5a8fbe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card {
    width: 320px;
    background-color: #0c1248;
    border-radius: 0 0 180px 180px;
    padding: 40px 20px 50px;
    text-align: center;
    color: #f4f1e8;
}

.contact-card h1 {
    font-family: Anton, Arial;
    font-size: 62px;
    line-height: 1.1;
    margin-bottom: 30px;
}
.profile-wrapper {
    margin-top: 50px;
    width: 220px;
    height: 220px;
    margin: 0 auto 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #f4f1e8;
}

.profile-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #5a8fbe;
    color: #0c1248;
    padding: 10px 14px;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    font-family: League Spartan, Arial;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

.info-item span {
    font-size: 18px;
}
.info-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

@media(min-width:1024px){
    .contact-page{
        display: flex;
        flex-direction: row;
        gap: 300px;
    }
    .info-item span {
    font-size: 30px;
}
.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #5a8fbe;
    color: #0c1248;
    padding: 10px 14px;
    border-radius: 35px;
    border: 2px;
    border-style: solid;
    font-family: League Spartan, Arial;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
}

