.photo-gallery {
    margin-top: 50px;
    background-color: #5289b9;
    padding-top: 40px;
}

.heading-photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.gallery-photo {
    font-size: 38px;
    font-family: Anton, Arial;
    color: #0f0e47;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* mobile */
    gap: 16px;
    padding: 0 20px 40px;
}

.photos img {
    /* width: 100%;
    margin-bottom: 16px;
    border-radius: 14px;
    display: block;
    border: 2px;
    border-style: solid;
    border-color: #0f0e47; */
     width: 100%;
    height: 220px;              /* 🔥 makes all boxes equal */
    object-fit: cover;          /* crops nicely */
    border-radius: 14px;
    display: block;
    border: 2px solid #0f0e47;
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;

}

@media (min-width: 700px) {
    .photos {
        /* column-count: 3; */
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1024px) {
    .photos {
        /* column-count: 4; */
        grid-template-columns: repeat(3,1fr);
        padding: 0 60px 60px;
    }
}
@media (min-width: 1440px) {
    .photos {
        /* column-count: 4; */
        grid-template-columns: repeat(4,1fr);
        padding: 0 60px 60px;
    }
}

.photos img {
    
    transition: transform 0.3s ease;
}

.photos img:hover {
    transform: scale(1.03);
}

.photos img {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}